span {
    transition: all 3s ease; 
}

.mark-duck {
    background-color: red;
    border-radius: 5px;
}

.mark-duck-2 {
    background-color: rgb(11 15 175);
    border-radius: 5px;
}

.half{
    opacity: 0.4;
}

.center {
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 5fr 6fr;
    /* grid-template-columns: 5fr 1fr; */
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.row2{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.cell{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.panel{
    border: 1px dashed hsla(84, 100%, 59%, 1);
    border-radius: 10px;
    background-color: hsla(84, 100%, 59%, 0.1);
    color: hsla(84, 100%, 59%, 1);
    padding: 10px;
    min-height: fit-content;
    min-width: fit-content;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.border-bottom-row{
    border-bottom: 1px solid wheat;
}

.border-right-row{
    border-right: 1px solid wheat;
}

.button{
    height: fit-content;
    width: 100%;
    padding: 5px;
    border-radius: 50px;
    border: 2px solid hsla(84, 100%, 59%, 0.5);
    color: hsla(84, 100%, 59%, 0.85);
    background-color: rgba(15, 39, 12, 0.212);
    font-size: medium;
}

.duck{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

